body {
	margin:0;
}

.content{
	width: 100%;
	max-width: 10000px;
	padding: 0px;
}

.hidden{
	display: none;
}
.float-left{
	float:left;
}
.float-none{
	float:none;
}

#gameSpan{
	/* display: block; */
	outline: 0px
}

#mainCanvas {
	/* float:left */
}

#outputText{
	resize:none;
}
/*
#geneticSpan{
	display: none;
} */

.chart-container{
	position: relative; float:left; height:500px; width:500px
}

#bestStrat{
	float:left;
}

.remove-clear{
	clear:both;
}

/* #testAiSpan{
	display: none;
} */
