body {
	margin:0;
}

.content{
	width: 100%;
	max-width: 10000px;
	padding: 0px;
}

.hidden{
	display: none;
}
.float-left{
	float:left;
}
.float-none{
	float:none;
}

#gameSpan{
	outline: 0px
}

#mainCanvas {
}

#outputText{
	resize:none;
}


.chart-container{
	position: relative;
	float:left;
	height:500px;
	width:500px
}

#bestStrat{
	float:left;
	margin:10px;
}

.remove-clear{
	clear:both;
}

#dataDump{
	float:left;
}

.nonCanvasSpan{
	max-width: 900px;
	width: 80%;
}
