/*    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td
                        { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
    blockquote:before,
    blockquote:after,
    q:before, q:after   { content: ""; }
    blockquote, q       { quotes: "" ""; }
    body                { line-height: 1; color: black; background: white; }
    caption, th, td     { text-align: left; font-weight: normal; }
    :focus              { outline: 0; }
    table               { border-collapse: separate; border-spacing: 0; }
    ol, ul              { list-style: none; }*/

.content {
	margin: 0 auto;
	/*border: 5px solid blue;*/
	max-width: 700px;
	width: 80%;
	/*min-height: 90%;*/
	padding-top: 20px;
	padding-bottom: 20px;

}
.mainHead {
	background-color: #8D8329;  
	padding: 10px;
	padding-left: 30px;
	border-radius: 5px;
	margin: 10px;

}

html {

	height:100%; 
	/*background-color: pink;*/
}

body {
	/*border: pink 10px solid;*/
	height:100%;


	background-color: #6096A3;
	margin: 0px;
	color: #CCE1DB;
	font-family: 'Roboto Condensed', sans-serif;

}
.topbar > a {
	color: #8D8329;
}
a {
	color: #CCE1DB;
}

.topbar {
	background-color: #20586C;
	padding: 3px;
	text-align: center;
	color: #8D8329;
}

.botbar {
	background-color: #20586C;
	padding: 10px;
	/*border: 20px;*/
	text-align: center;
	color: #8D8329;
	



}
.icon {
	width: 20px;
	height: 20px;
	border-radius: 10px;

}
.map {
  float: right;
  padding-bottom: 20px
}

.clear {
	clear: both;
	padding-top: 5px;
	border-top: 2px solid black;
}

.line {
}

.asciiForm {
	/*width: 300px;*/
	margin: 0px;
	float: left;
	padding-bottom: 20px;
}

.submit {
	margin-top: 10px;
	margin-right: 20px;
	float: right;
}
/*
.fizzHead {
	background-color: #ddd; 
	color: #888; 
	padding: 10px;
	border-radius: 5px
	margin: 10px;
}*/