{% extends 'base.html' %}

{% block title %}
About Me
{% endblock %}

{% block route %}
> <form class="topForm" action="/about"><button class="topA">About</button></form>
{% endblock %}

{% block heading %}
About Me
{% endblock %}

{% block content %}
Hello everyone! My name is Carl Rodriguez. I am a Computer Science and Economics graduate from Willamette University. I love strategy board games and Ultimate Frisbee. I enjoy getting to understand problems and systems so that I can work to make them better!
<br>
<br>
Contact: carl17r@gmail.com <br>
<a href="https://www.linkedin.com/in/carl-rodriguez/"> LinkedIn</a> <br>
<br>

<img style="border-radius: 50px;" src="/images/headshotsquare.jpg">
{% endblock%}