{% extends 'base.html' %}

{% block title %}
AsciiChan!
{% endblock %}

{% block route %}
- <a href="/ascii">AsciiChan</a>
{% endblock %}

{% block heading %}
AsciiChan!
{% endblock %}

{% block content %}
    <form class="asciiForm" method="post">
      <label>
        <div> title </div>
        <input type="text" name="title" value="{{title}}"/>
      </label>

      <lable>
        <div>
          art
        </div>
        <textarea name="art" >{{art}}</textarea>
      </lable>
      <div class="error"> {{error}} </div>
      <input class="submit" type="submit" />
    </form>
    {% if img_url %}
      <img class="map" src="{{img_url}}">
    {% endif %}
    
    {% for a in arts %}
    <div class="art clear">
      <div class="art-title">
        {{a.title}}
      </div>
      <pre class="art-body">{{a.art}}</pre>
    </div>
    {% endfor %}
{% endblock%}



