<!DOCTYPE html>
<html>
  <head>
  	<title> {% block title %}{% endblock %}</title>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    {% block style %}{% endblock %}
  </head>
  <body>
  	<div class="topbar">
      
  		<a href="/"><img class="icon" src="/images/headshotsquare.jpg">Carlsite</a> {% block route %}{% endblock %} |

      <a class="toptext2" href="/blog">Blog</a>
      <a class="toptext2" href="/fizzbuzz">Fizzbuzz</a>
      <a class="toptext2" href="/shoppinglist">Shopping List</a>
      <a class="toptext2" href="/ascii">Ascii</a>
      <a class="toptext2" href="/helloworld">Hello World!</a>
  	</div>
  	<div class="content">
    <h1 class="mainHead">{% block heading%}{% endblock %}</h1>
    {% block content %}
    {% endblock %}
    <h3> This is part of my base template </h3>

    {% block footer %}
    Here we are in a fouter
    {% endblock %}
	</div>
	<div class = botbar>Thank you for visiting!</div>
  </body>
    
</html>
