<!DOCTYPE html>
<html>
  <head>
  	<title> {% block title %}{% endblock %}</title>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    {% block style %}{% endblock %}
  </head>
  <body>
  	<div class="topbar">
      <form class="topForm" action="/"><button class="topA">
        <img class="icon" src="/images/headshotsquare.jpg">Carlsite</a>
      </button></form>
       {% block route %}{% endblock %} |
      <form class="topForm" action="/blog"><button class="topA">Blog</button></form>
      <form class="topForm" action="/ascii"><button class="topA">Ascii</button></form>
      <form class="topForm" action="/colorpicker"><button class="topA">Color Picker</button></form>
      <form class="topForm" action="/shoppinglist"><button class="topA">Shopping List</button></form>
      <form class="topForm" action="/fizzbuzz"><button class="topA">FizzBuzz</button></form>
      <form class="topForm" action="/rot13"><button class="topA">ROT13</button></form>
      <form class="topForm" action="/helloworld"><button class="topA" >Hello World!</button></form>


  	</div>
  	<div class="content">
    <h1 class="mainHead">{% block heading%}{% endblock %}</h1>
    {% block content %}
    {% endblock %} 

    {% block footer %}
    {% endblock %}
	 </div>
	<div class = botbar><a href='/about'>About Carl</a> | Thank you for visiting!</div>
  </body>
    
</html>
