{% extends "base.html" %}
{% block title %}
fizzBuzz
{% endblock %}
{% block heading %}
fizzBuzz
{% endblock %}


{% block route %}

 > <form class="topForm" action="/fizzbuzz"><button class="topA">FizzPrompt</button></form>
 > <form class="topForm" action="/fizzbuzz?n={{n}}"><button class="topA">FizzBuzz</button></form>
{% endblock %}

{% block content %}

{% if n %}
<ul>
{% for i in range(1,n+1) %}
<li>
{%if i % 15 == 0%}
  FizzBuzz
{%elif i % 5 == 0%}
  Buzz
{%elif i % 3 == 0%}
  Fizz
{%else%}
  {{i}}
{%endif%}
</li>
{% endfor %}
</ul>
{% endif %}
  {% block footer %}
  {{super()}}
  {% endblock %}

{% endblock %}