<!-- <!DOCTYPE html>
<html>
<head>
	<title>Welcome To My Website!!</title>
</head>
<body> -->
	{% extends 'base.html' %}
	{% block title %}
	Carlsite!
	{% endblock%}
	{% block heading %}
	Welcome to Carlsite!
	{% endblock %}
	{% block content %}

	<div> There are several projects for you to enjoy!</div>
	<ul>
		<li><a href="/blog">Blog</a> - Blog which uses databases to save users and posts</li> 
	<li><a href="/ascii">Ascii Chan</a> - Repository of ascii art, add your own!</li> 
	<li><a href="/colorPicker">Color Picker Game!</a> - Pick the correct color from a given RGB mix</li>
	<li><a href="/shoppinglist">Shopping List</a> - Create a shopping list</li>
	<li><a href="/fizzbuzz">FizzBuzz</a> - Fizzbuzz implemented using JINJA template looping</li>
	<li><a href="/rot13">ROT13</a> - Super secure encryption page</li>
	<li><a href="/helloworld">Hello World!</a> - Where it all started!</li>
	</ul>
	
	{% endblock %}
