<!-- TODO: Preserve line returns from posts so that they will stay when displayed-->
  {% extends 'base.html' %}
   {% block title %}Blog Home Page{% endblock %}
    {% block style %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css"/>
    {% endblock %}

    {%block route %}
    > <form class="topForm" action="/blog"><button class="topA">Blog</button></form>
    {%endblock%}
  
    {% block heading %}Welcome to my Blog!{% endblock %}
  {% block content %}
    <div class="blogContent">
    {% if user: %}
      You are logged in as {{user.username}}
      <a href="{{path}}/logout">Logout</a>
      <a href="{{path}}/newpost">New Post</a>

    {%else: %}
      
      <a href="{{path}}/login">login</a>
      <a href="{{path}}/signup">sign up</a>

    {% endif %}


    <hr />
    {% for post in posts %}
    <div class="post">
      <div class="post-title">
        <a href="{{path}}/{{post.key().id()}}">{{post.title}}</a>
        
      </div clas="post-body">
      <!-- <pre class="post-body">{{post.text}}</pre> -->
      {{post.text}}
    </div>
    {% endfor %}
  </div>
  {% endblock %}
  

