{% extends 'base.html' %}

{% block title %}
Instanbul
{% endblock %}

{% block route %}
> <form class="topForm" action="/istanbul"><button class="topA">Istanbul</button></form>
{% endblock %}

{% block style %}
	<title>Istanbul!</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/istanStyle.css"/>
{% endblock %}


{% block content %}

	insert game here

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> -->
<script src="javascript/istanbul/istanbul.js"></script>


{% endblock %}
