
	{% extends 'base.html' %}

	{% block title %}
	Blog Login
	{% endblock %}

	{% block route%}

 	> <form class="topForm" action="/blog"><button class="topA">Blog</button></form>
 	> <form class="topForm" action="/blog/login"><button class="topA">Login</button></form>
	{%endblock%}
	
	{%block heading %}
	Login
	{%endblock%}
	{%block content%}
	<form method="post">
		<tag>Username: <input type="text" name="username"></tag><br>
		<tag>Password: <input type="password" name="password"></tag><br>
		<div class="error">{{error}}</div>
		<button>Submit</button>
	</form>
	{%endblock%}
