<!DOCTYPE html>
<html>
<head>
	<title>Machi Koro!</title>
	<!-- <link rel="stylesheet" type="text/css" href="style.css"/> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/machiStyle.css"/>
</head>

<body>
	<canvas id="myCanvas" style="float:left" > 
		Canvas failed to load
	</canvas>

    <textarea id="outputText" rows="30" cols="40" id="output" style="resize:none" readonly></textarea> 
  	
</body>

<script src="javascript/machiCards.js"></script>
<script src="javascript/machiPlayer.js"></script>
<script src="javascript/machiGame.js"></script> 
<script src="javascript/machiView.js"></script>
<script src="javascript/machiController.js"></script>

</html>