<!DOCTYPE html>
<html>
<head>
	<title>Machi Koro!</title>
	<!-- <link rel="stylesheet" type="text/css" href="style.css"/> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/machiStyle.css"/>
</head>

<body>
	<span id="gameSpan" style="display: block">
		<!-- <canvas id="myChart" width="400" height="400"></canvas> -->
		<!-- <div>adsf</div> -->
		<canvas id="myCanvas" style="float:left" > 
			Canvas failed to load
		</canvas>

	    <textarea id="outputText" id="output" style="resize:none" readonly></textarea> 
	</span>
	<span id="geneticSpan" style="display: none">
		<span id="inputGeneticSpan">
			<h1>Big menu Here!</h1>
			
		</span>
		<span id="runningGeneticSpan">
			<h1>Running Genetic Algorithm</h1>
			<div id="paramInfo">asdf</div>
			<div class="chart-container" style="position: relative; float:left; height:500px; width:500px">
    			<canvas id="chart1"></canvas>
			</div>
			<div class="chart-container" style="position: relative; float:left; height:500px; width:500px">
    			<canvas id="chart2"></canvas>
			</div>
			<div id="bestStrat" style="float:left"></div>
		</span>
	</span>
  	
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="javascript/machiCards.js"></script>
<script src="javascript/machiPlayer.js"></script>
<script src="javascript/machiGame.js"></script> 
<script src="javascript/machiView.js"></script>
<script src="javascript/machiController.js"></script>

</html>