{% extends 'base.html' %}

{% block title %}
Machi Koro
{% endblock %}

{% block route %}
> <form class="topForm" action="/machikoro"><button class="topA">Machi Koro</button></form>
{% endblock %}

{% block style %}
	<title>Machi Koro!</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/machiStyle.css"/>
{% endblock %}


{% block content %}

	<span id="gameSpan">

		<canvas id="mainCanvas" >
			Canvas failed to load
		</canvas>

	    <textarea id="outputText" readonly></textarea>
	</span>
	<span id="geneticSpan" class="hidden">
		<span id="inputGeneticSpan">
			<h1>Big menu Here!</h1>

		</span>
		<div id="runningGeneticSpan">
			<h1>Running Genetic Algorithm</h1>
			<div id="paramInfo">asdf</div>
			<div class="chart-container">
    			<canvas id="chart1"></canvas>
			</div>
			<div class="chart-container">
    			<canvas id="chart2"></canvas>
			</div>
			<div id="bestStrat"></div>
			<div class="remove-clear"></div>
		</div>
	</span>

	<span id="stratTestSpan" class="hidden">
		asdfasdf
	</span>




<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="javascript/machiCards.js"></script>
<script src="javascript/machiPlayer.js"></script>
<script src="javascript/machiGame.js"></script>
<script src="javascript/machiView.js"></script>
<script src="javascript/machiController.js"></script>




{% endblock %}
