<!-- TODO: make sure that posts wrap so they don't escape the box! -->

  {% extends 'base.html' %}

  {% block title %}
  Blog Signup
  {% endblock %}

  {% block style %}
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css"/>
  {% endblock %}

  {% block route%}
  > <a href="/blog">Blog</a>
  > <a href="/blog/{{id}}">{{post.title}}</a>

  > <form class="topForm" action="/blog"><button class="topA">Blog</button></form>
  > <form class="topForm" action="/blog/{{id}}"><button class="topA">{{post.title}}</button></form>
  {%endblock%}
  
  {%block heading %}
 {{post.title}}
  {%endblock%}

  {%block content%}
  <div class="blogContent">
    <div class="post">
      <div class="post-title">
        {{post.title}}
      </div>
      <br>
      <pre class="post-body">{{post.text}}</pre>
    </div>
    <br>
    <br>
    Created: {{post.created}} <br />
    Last Modified: {{post.last_modified}}
  </div>
  {%endblock%}

