  {% extends 'base.html' %}
   {% block title %}RSS Reader{% endblock %}

    {%block route %}
    > <form class="topForm" action="/rss"><button class="topA">RSS</button></form>
    {%endblock%}
  
    {% block heading %}RSS Reader!{% endblock %}
  {% block content %}



    <hr />
    {% for article in articles %}
    <div class="post">
      <div style="background: green">
       <br>
        <img src="{{article.image}}">
        <a href="{{article.link}}"> {{article.title}}</a> {{article.date}} <br>
        {{article.description}}
]
      </div>
      <br>
    </div>
    {% endfor %}

  {% endblock %}