{% extends "base.html" %}

{% block title %}
Shopping List
{% endblock %}

{% block route %}
    
- <a href="/shoppinglist?{% for item in items %}food={{item}}&{%endfor%}">Shopping List</a>
    
{% endblock %}

{% block heading %}
Shopping List
{% endblock %}

{% block content %}
<form>
    
  <h2>Enter a food:</h2>
  <input type="text" name="food">
  <br>
  <br>
  {% if items %}
    {% for item in items %}
      <input type="hidden" name="food" value="{{item}}">
    {%endfor%}
  {%endif%}
  <button>Add</button>

  {%if items%}
  <br />
  <br />
  <h2>Shopping List</h2>
  <ul>
    {% for item in items %}
      <li>
        {{item }}
      </li>
    {%endfor%}
  </ul>
  {%endif%}



</form>

{% endblock %}
